{% extends "towardsBookEra/base.html" %}
{%load static %}
{% load crispy_forms_tags %}
{% block content %}
<section id="gallery">
    <br>
<br>
       <div class="container" style="background-color: #fff">
           <br>
           <br>
           <section>
            <div class="row justify-content-start">
                <div class="col-lg-3 mb-3">
                    <div class="card" style="height:320px">
                        <img class="card-img-top" src="{{ bookdata.book_frontpage.url }}" alt=" " style="height:320px">

                    </div>
                    </div>
                <div class="col-lg-9 mb-9">
                    <div class="card border-0">
                        <div class="card-body">
                            <h3 class="card-title">{{ bookdata.book_name }}</h3>
                            <br>
                            <br>
                            <h5> by {{ bookdata.author_name }}</h5>
                            <br>
                            <br>
                            <h6>Rs. {{ bookdata.book_price }}</h6>
                            <br>
                            <br>
                             <a href="" class="btn btn-outline-dark btn-sm ">Buy</a>
                    <a href="" class="btn btn-outline-dark btn-sm ">Add to cart</a>
                            <br>
                            <br>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>

            </div>
               </section>
           <section>
               <h5>Book Description</h5>
               <br>
               <div style="border-bottom: 1px solid black">
               </div>
               <div>
                   <br>
                   <p>{{ bookdata.book_description }}
                    </p>
                   <br>
                   <br>
               </div>
               <h5>Book Details</h5>
               <br>
               <div style="border-bottom: 1px solid black">
               </div>
               <div class="container">
                   <br>
                   <div class="row justify-content-start">
                <div class="col-lg-6 mb-6">
                    <h6>Title : {{ bookdata.book_name }}</h6>
                    <h6>Author : {{ bookdata.author_name }}</h6>
                    <h6>Publication Year :</h6>
                </div>
                       <div class="col-lg-6 mb-6">
                           <h6>ISBN : {{ bookdata.book_isbn }}</h6>
                           <h6>Pages :</h6>
                           <h6>Language :</h6>
                       </div>
                   </div>
               </div>
               <br>
               <br>
           </section>
       </div>
    <br>
<br>
    </section>
{%endblock%}

