{% extends "towardsBookEra/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'accounts/style3.css' %}">
<div class="row" style="background-color: #fff">
 <section id="gallery">
     <br>
<br>
<div class="container-fluid">
<form method="POST" action="{% url 'bookshopPath' %}">
    {% csrf_token %}
    <div class="row justify-content-start">

       <div class="col-lg-3 mb-3">
        <div class="card border border-dark" style="width: 20rem;" style="background-color: #fff">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div>
                    <input type="radio" id="searchbyauthor" name="rbtnSearchBy" value="author_name">
                    <label for="searchbyauthor">Search By Author</label>
                </div>
        <div>
                <div id="searchByAuthorField"><input type="text" name="txtSearchAuthor" readonly="true" placeholder="Author Name To Search"></div>
            </div>
    <br>
        <div>
            <input type="radio" id="searchbyname" name="rbtnSearchBy" value="book_name">
            <label for="searchbyname">Search By Book Name</label>
            </div>
                <div>
                <div id="searchByNameField"><input type="text" readonly="true" name="txtSearchName"  placeholder="Name To Search"></div>
            </div>
        <br>
         <div>
                    <input type="submit" value="Find" class="btn btn-info">
                </div>
    </li>
      <li class="list-group-item">
          <h4>Price</h4>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    100-500
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    500-1000
  </label>
</div>
            <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    1000-2000
  </label>
            </div>
            <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    2000-5000
  </label>
</div>
           <br>
                <div>
                    <input type="submit" value="Apply" class="btn btn-info">
                </div>
      </li>
      <li class="list-group-item">
          <h4>Categories</h4>
          <div>
              <a href="#" class="text-dark">History</a>
          </div>
          <div>
              <a href="#" class="text-dark">Education</a>
          </div>
          <div>
              <a href="#" class="text-dark">Fiction</a>
          </div>
          <div>
              <a href="#" class="text-dark">Religion</a>
          </div>

      </li>
  </ul>

</div>
       </div>



        <div class="col-lg-9 mb-9">
             <div class="card border border-dark" style="background-color: #fff">
                 <br>
            <div class="container-fluid">
    {% if books %}
                 <div class="row justify-content-start">
    {% for book in books %}
   <!--<div class="media mt-3">
        <img class="square account-img" src="{{ book.book_frontpage.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ book.book_name }}</h2>
            <p class="text-secondary">{{ book.book_description }} </p>
        </div>
    </div>-->

<div class="col-lg-3 mb-3" style="float:left">
                    <div class="card" style="height:350px">
                        <img class="card-img-top" src="{% static 'accounts/images/book.jpg' %}" alt=" " style="height:270px">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">{{ book.book_name }}</h5>
                        <a href="#" class="stretched-link"></a>
                            <h6  style="text-align:center">Price</h6>
                        </div>
                    </div>
</div>

    {% endfor %}
                     </div>
    {% endif %}
        </div>
                 <br>
            </div>
            <br>
            <br>
        </div>
    </div>
</form>
</div>
      </section>
    </div>
{% endblock content %}