{% extends "towardsBookEra/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section mt-3">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Login Here
            </legend>
            {{ form|crispy}}
        </fieldset>
        <button type="submit" class="btn btn-success">Log In</button>
        <div class="border-top mt-3">
            <div class="mt-2">Forgot Password? <a href="#">Reset</a></div>
            <div>Need Account? <a href="{% url 'registerPath' %}">Sign Up</a></div>
        </div>
    </form>
</div>
{% endblock content %}