#def {
  height: 620px;
  width: 470px;
}

#hdr {
background-image: url("images/header1.jpg");
background-repeat: no-repeat;
background-size: cover;
}

#jk {
text-align: center;
}

#brd {
border-bottom: double;
}