{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style1.css' %}">
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" href="#">towardsBookEra</a>
  </div>
</nav>


<section id="hdr" class="jumbotron text-center">
        <h2 style="color:white" class="display-3"><b>Welcome new era with knowledge</b></h2>
        <a href="{% url 'loginPath' %}" class="btn btn-secondary">SignIn</a>
    <a href="{% url 'registerPath' %}" class="btn btn-primary dark">Register</a>
    </section>
<section id="zzz">

<!-- <img src="{% static 'accounts/images/book3.svg' %}" id="img"> -->

<div class="container-fluid ">
  <div class="row border-0 justify-content-around align-items-center" id="abc">
    <div class="col-md-6">
      <img src="{% static 'accounts/images/book3.svg' %}" id="def">
    </div>
    <div class="col-md-6 text-center">
      <div class="row justify-content-center">
        <div class="col-10">
      <h2>towardsBookEra</h2>
      <p>This project provides single, reliable platform to everyone associated with books,
        the ultimate resource of knowledge. Any one or organisation can order any books requested by member on this platform.
        Here even the talented writer can present its work using blogs.
        Our platform will also provide the educational books making the platform accessible to students also.
        Students can actively take part in discussion forum for educational books.
      </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section>
  <div>
    <br>
    <br>
  <h2 id="jk">Everything on a single platform only!</h2>
    <br>
    <br>
    </div>
</section>

  <section id="gallery">
       <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'accounts/images/book.jpg' %}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Ecommerce</h5>
                            <p class="card-text">Get access to the most premium collection of books of various genre.
                              Search for the book and get it delivered by us at most nominal rates
                                </p>
                            <a href="{% url 'bookshopPath' %}" class="btn btn-outline-success btn-sm">Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'accounts/images/c2.jpg' %}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Community</h5>
                            <p class="card-text">Welcome to the community of bibliophiles.
                                Create your own blog,join groups and have discussions on books
                                Hurry Sign Up now!
                            </p>
                            <a href="" class="btn btn-outline-success btn-sm">Join</a>

                        </div>
                    </div>
                </div>
            </div>
       </div>
    </section>
    <br>
    <br>
    <section>
        <div class="row" style="background-color: #1a5276">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-6 mb-6">
                        <img src="{% static  'accounts/towardsbookEraLOGO.png' %}" style="width:190px;height:190px">
                        <h4 style="color:white">Welcome new era with knowledge</h4>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <br>
                        <br>
                     <h4 style="color:white">SiteMap</h4>
                        <br>
                        <a style="color:white" href="#">Home</a>
                        <br>
                        <a style="color:white" href="#">About Us</a>
                        <br>
                        <a style="color:white" href="#">Contact Us</a>
                        <br>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <br>
                        <br>
                        <h4 style="color:white">Policies</h4>
                        <br>
                        <a style="color:white" href="#">Terms and Conditions</a>
                        <br>
                        <a style="color:white" href="#">Privacy Policy</a>
                        <br>
                        <a style="color:white" href="#">Shipping</a>
                        <br>
                         <a style="color:white" href="#">Payments</a>
                        <br>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </section>


<!-- Code for particular category
<<section>
    <div class="container">
         <div class="row border-0 justify-content-start align-items-center">
             <div class="col-lg-8 mb-8">
             <h3>History</h3>
             <p>
                 History (from Greek ἱστορία - historia, meaning "inquiry, knowledge acquired by investigation") is the
                 discovery, collection, organization, and presentation of information about past events. History can
                 also mean the period of time after writing was invented. Scholars who write about history are called
                 historians. It is a field of research which uses a narrative to examine and analyse the sequence of
                 events, and it sometimes attempts to investigate objectively the patterns of cause and effect that
                 determine events. Historians debate the nature of history and its usefulness.
             </p>
             <br>
                 <br>
                 <h5 style="border-bottom: double;">New Releases Tagged "History"</h5>
                 <br>
                 <div class="container-fluid">
                     <section>
                     <div class="row justify-content-start">
                <div class="col-lg-4 mb-4">
                    <div class="card" style="height:270px">
                        <img class="card-img-top" src="{% static 'accounts/images/book.jpg' %}" alt=" " style="height:270px">
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
                      <div class="col-lg-4 mb-4">
                    <div class="card" style="height:270px">
                        <img class="card-img-top" src="{% static 'accounts/images/book.jpg' %}" alt=" " style="height:270px">
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
                        <div class="col-lg-4 mb-4">
                    <div class="card" style="height:270px">
                        <img class="card-img-top" src="{% static 'accounts/images/book.jpg' %}" alt=" " style="height:270px">
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>

                    </div>
                         </section>
                        <section>
                     <div class="row justify-content-start">
                <div class="col-lg-4 mb-4">
                    <div class="card" style="height:270px">
                        <img class="card-img-top" src="{% static 'accounts/images/book.jpg' %}" alt=" " style="height:270px">
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
                      <div class="col-lg-4 mb-4">
                    <div class="card" style="height:270px">
                        <img class="card-img-top" src="{% static 'accounts/images/book.jpg' %}" alt=" " style="height:270px">
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
                        <div class="col-lg-4 mb-4">
                    <div class="card" style="height:270px">
                        <img class="card-img-top" src="{% static 'accounts/images/book.jpg' %}" alt=" " style="height:270px">
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>

                    </div>
                         </section>
                 </div>

         </div>
    </div>
</section>-->
</body>
</html>
